<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-8">
      <% @feed_items.each do |post| %>
        <div class="picture-post-box">
          <header>
            <div class="post-box-header">
              <%= link_to gravatar_for(post.user, size: 30) %>
              <%= link_to post.user.user_name, post.user %>
            </div>
          </header>
          <div class="picture-box">
            <h3><%= image_tag post.picture %></h3>
          </div>
          <div class="content-box">
            <h4><strong><%= post.user.user_name %></strong>
            <%= post.content %></h4>
          </div>
          <div class="comment-box">
            <% post.comments.each do |comment| %>
              <div>
                <strong><%= comment.user.user_name %></strong>
                <%= comment.text %>
                <a><%= link_to "削除する", post_comment_path(post_id: post.id, id: comment.id), 
                                           method: :delete if current_user == comment.user %></a>
              </div>
            <% end %>
          </div>
          <div class="timestamp-box">
            <h5><%= time_ago_in_words(post.created_at) %>前</h5>
          </div>
          <div class="comment-form-box">
            <%= form_tag("/posts/#{post.id}/comments", method: :post) do %>
              <textarea name="text" placeholder="コメントを追加..."></textarea>
              <input type="submit" value="コメントする", class="btn-xs">
            <% end %>
          </div>
        </div>
      <% end %>
      <%= will_paginate @feed_items %>
    </div>
    <aside class="col-md-4">
      <section class="user_info">
        <div class="user-information-box">
          <h1 class="profile-pic"><%= gravatar_for(@user) %></h1>
          <h2><%= link_to @user.user_name, @user %></h2>
          <%= render 'shared/follow_list' %>
          <h4>投稿数<br /><%= @user.posts.count %></h4>
        </div>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>InstaLikeへようこそ!!</h1>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, class: "btn btn-info" %>
  </div>
<% end %>
