<% provide(:title, "ログイン") %>

<h2>ログイン</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      <p><%= link_to "パスワードをお忘れの方はこちら", new_user_password_path %></p>
    
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end %>
    
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    
    <p>新規登録はこちら<br /><%= link_to "新規登録", new_user_registration_path %></p>
  </div>
</div>
